
roadmap.odt
venv_dashboard

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore config
.env
*.sqlite3

models/
metrics/
data/plot_data/

data/plot_data/*.csv
models/*.pkl
metrics/*.json
