
roadmap.odt
venv_dashboard

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore config
.env

__pycache__/
*.pyc

.env
venv/
